@font-face {
    font-family: 'gothic';
    src: url("https://fonts.googleapis.com/css?family=Gothic+A1:300");
}

.payment_body{
    margin-top: 80px;
    text-align: center;
    border: none;
    font-family: "gothic";
}

.payment_title h1{
    font-family: "gothic";
}

.payment_list{
 
}

.payment_message_title h1{ 
    font-family: "gothic";
}

.payment_message{
    width: 1000px;
    height: 500px;
    background: #f2ecec;
}

.payment_message_input{

}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
cursor: pointer;
margin: 20px 50px;

}

[type=radio]:checked + img {
    outline: 7px solid rgb(0, 0, 0);
}

.payment_radio_title h1{
    font-family: "gothic";
}

.payment_radio_img{

}

.payment_img{
    width: 300px;
    height: 300px;
    display: block;
}

.payment_addr p{
    font-family: "gothic";
}
.payment_addr_input{
    font-family: "gothic";
}
.payment_user p{
    font-family: "gothic";
}
.payment_user_input{
    font-family: "gothic";
}
.payment_button p{
    font-family: "gothic";
}
.payment_total_price{
    display: none;
}