@font-face {
    font-family: 'beadal';
    src: url("./paymentImg/BMDOHYEON_ttf.ttf");
}
@font-face {
    font-family: 'gothic';
    src: url("https://fonts.googleapis.com/css?family=Gothic+A1:300");
}
.paymentText p{
    font-size: 20px;
    font-family: "gothic";
    font-weight: lighter;
    letter-spacing: 1px;
}
.paymentText_p{
    letter-spacing: 1px;
}
.paymentText{
    padding: 15px;

}

.paymentTotalShot{
    display: inline-block;
    width: 23%;
    margin: 20px 40px 30px 40px;
}

.paymentTableImg{
    
    border: 1px solid black;
}
.paymentTableIrum{
    border: 1px solid black;
    width: 160px;
    line-height: 120px;
    font-size: 22px;
    font-family: "gothic";
}
.paymentTableQuantity{
    border: 1px solid black;
    width: 120px;
    line-height: 120px;
    font-size: 22px;
    font-family: "gothic";
}
.paymentTablePrice{
    border: 1px solid black;
    line-height: 120px;
    width: 100px;
    font-size: 22px;
    font-family: "gothic";
}
.paymentPlus{
    display: none;
}