@font-face {
    font-family: 'gothic';
    src: url("https://fonts.googleapis.com/css?family=Gothic+A1:300");
}

.payment_body{
    margin-top: 75px;
    text-align: center;
    border: none;
    font-family: "gothic";
    background-color: white;
    letter-spacing: 1px;
}

.payment_title h1{
    font-family: "gothic";
    padding-top: 50px;
    font-weight: 500;
    height: 150px;
    line-height: 75px;
}


.payment_message_title h1{ 
    font-family: "gothic";
    padding: 30px 0 30px 0;
    color: #3b3333;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
cursor: pointer;
margin: 40px 50px;

}

[type=radio]:checked + img {
    outline: 7px solid rgba(0, 0, 0, 0.753);
}

.payment_radio_title h1{
    font-family: "gothic";
    padding: 30px;
}

.payment_img{
    width: 300px;
    height: 300px;
    display: block;
}

.payment_input{
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.432);
    /* background-color: rgb(241, 241, 241); */
    width: 40%;
    height: 40px;
    margin-top: 20px; 
    margin-bottom: 20px;
    border-radius: 2px;
    font-family: "gothic";
    font-size: 18px;
    letter-spacing: 2px;
    
    text-align: center;
}
.payment_p{
    font-family: "gothic";
    font-size: 20px;
    margin: 0;
}
.payment_pFirst{
    height: 30px;
}
.payment_total_price{
    display: none;
}
.lastLink{
    text-decoration: none;
    font-style: none;
    font-family: "gothic";
    font-size: 28px;
    color: black;
    display: block;
    border: 1px solid white;
    width: 400px;
    height: 50px;
    margin: 40px auto;
    margin-bottom: 80px;
    background-color: #beaeae;
    border-radius: 5px;
}
.lastLink:hover{
    color: black;
}
