.MainNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #cfcaca;
    border-bottom: 1px solid #c8c8c8;
    height: 60px;
}
.MainLogo{
    font-size: 40px;
    font-weight: 300;
    color: white;
    padding-left: 25px;
    cursor: pointer;
}
.MainMenu{
    padding-right: 30px;
    margin: 30px;
}
.MainMenu button{
    border: none;
    background-color: #cfcaca;
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.MainMenu button:hover{
    color: ghostwhite;
    font-size: 35px;
}
.MainMenu button:focus{
    color: green
}
.MainMenu span{
    font-size: 20px;
    font-weight: 700;
    color: burlywood;
}