@font-face {
    font-family: 'gothic';
    src: url("https://fonts.googleapis.com/css?family=Gothic+A1:300");
}
.MyPages{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.MyPagesWel{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.MyPagesWel p{
    font-size: 30px;
    padding: 0;
    font-family: "gothic";
}



.MyPagesDet{
    width: 70%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 3px;
    font-family: "gothic";
}
.MyPagesDetAddr{
    display: flex;
}
.MyPagesDetAddr p{
    margin-right: 10px;
    
}
.MyPagesDetID{
    display: flex;
}
.MyPagesDetID p{
    margin-right:10px;
    
}
.MyPagesDetTel{
    display: flex;
}
.MyPagesDetTel p{
    margin-right: 10px;
}
.MyPageLook{
    border: 1px solid black;
}
.MyPageLook h3{
    text-align: center;
}
.payList{
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.payLists{
    margin-right: 100px;
    margin-bottom: 5px;
}

.MypageDelivers{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
    margin-top: 30px;
}
.MypageD{
    width: 150px;
    height: 150px;
    border: 3px solid black;
    text-align: center;
}
.MypageDBlue{
    border: 2px solid tomato;
}
.MypageDDB{
    color: tomato;
    font-weight: 700;
}
.MypageDD{
    padding-top: 5px;
}
.MypageArrow{
    display: flex;
    align-items: center;
}

.MypageInform{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    height: 300px;
}

.MypageInformCall{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.MypageInformCall h5{
    font-size: 37px;
    font-weight: 700;
}
.MypageInformCallSS{
    margin-top: 20px;
}
.MypageInformCallSSF{
    font-size: 27px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.MypageInformSNS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.MypageInformSNS h5{
    font-size: 37px;
    font-weight: 700;
}
.MypageInformSNSCircle{
    display: flex;
    flex-direction: row;
    margin: 7px;
    cursor: pointer;
    padding-top: 3px;
    /* padding-bottom: 20px; */
}
.MypageInformTalk{
    text-align: center;
}

.MypageInformTalk h5{
    font-size: 37px;
    font-weight: 700;
}
.MypageInformTalkDD{
    display: flex;
    flex-direction: column;
}
.MypageInformTalkDD p{
    font-size: 20px;
    font-weight: 600;
}
.Mypageitemsss{
    text-align: center;
}

.MypageInformTalkDDDK{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    border: 2px solid yellow;
    font-size: 15px;
    font-weight: 700;
}
.MypageInformTalkDDDK a{
    text-decoration: none;
    color: black;
}
.MypageInformTalkDDDKBTN{
    display: flex;
    align-items: center;
    width: 100px;
    height: 70px;
}
.MypageBackground{
    position: relative;
    margin-top: 50px;
}
.MypageBackgroundsss{
    width: 100%;
    height: auto;
}
.MypageBlogSNS{
    position: absolute;
    z-index: 9;
    bottom: 50px;
    right: 785px;
}
.MypageFaceSNS{
    position: absolute;
    z-index: 9;
    bottom: 48px;
    right: 700px;
}

.MypageKAKA{
    position: absolute;
    width: 250px;
    height: auto;
    bottom: 30px;
    right: 170px;
}