@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@400;700&display=swap');
@font-face {
  font-family: 'gothic';
  src: url("https://fonts.googleapis.com/css?family=Gothic+A1:300");
}
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'RIDIBatang';
}

.MainHeader{
  display: flex;
  justify-content: center;
  height: 700px;
  margin-top: 75px;
}
/* .MainHeader1{
  width: 20%;
  background-color: #DCCABC;
} */
.MainHeader2{
  background-repeat: no-repeat;
  background-image: url("./images/mainPic2.png");
  /* background-color: beige; */
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.MainHeader2T{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 120px;
  font-size: 37px;
  font-weight: 700;
  color: #787c8c;
}
.MainHeader2T h1{
  font-size: 36px;
  margin-bottom: 27px;
  letter-spacing: 0.08em;
  font-family:"Taviraj";
}
.MainHeader2T h3{
  font-size: 37px;
  margin-bottom: 27px;
}
.MainHeader2T p{
  font-size: 15px;
  font-weight: 900;
  line-height: 0.5cm;
  letter-spacing: 2px;
  font-family:"Taviraj";
  font-style: italic;
}

/* .MainHeader3{
  width:20%;
  background-color: #DCCABC;
} */


/* 두번째 해더 */
.MainSecondHeaderItems{
  background-color: #f2ecec;
  height: 700px;
}
.MainSecondHeaderItems span{
  text-align: center;
  padding-top: 10px;
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 2px;

}
.MainSecondHeaderItems h3{
  margin-top: 0px;
  padding-top: 40px;
  text-align: center;
  font-size: 80px;
  font-weight: lighter;
  color: #b98966;
  font-family: "Taviraj";
}
.MainSecondHeaderItemsPics{
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.MainSecondHeaderItemsPics img{
  width: 250px;
  height: 350px;
}
.MainSecondHeaderItemsFlower,
.MainSecondHeaderItemsGrass,
.MainSecondHeaderItemsPackage{
  display: flex;
  flex-direction: column;
}

.MainSecondHeaderItemsFlower img{
  border-top-left-radius: 170px;
  border-top-right-radius: 170px;
  border: 3px solid #b98966;
}
.MainSecondHeaderItemsGrass img{
  border-top-left-radius: 170px;
  border-top-right-radius: 170px;
  border: 3px solid #b98966;
  margin-right: 150px;
  margin-left: 150px;
}
.MainSecondHeaderItemsPackage img{
  border-top-left-radius: 170px;
  border-top-right-radius: 170px;
  border: 3px solid #b98966;
} 


/* 
.reserve-store{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #F5F5F5;
}
.MainSecondSide{
  width: 5%;
  background-color: lightcoral;
}
.reserve-store .inner {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.reserve-store .medal {
  width: 400px;
  height: 500px;
  perspective: 600px;
}
.reserve-store .medal .front,
.reserve-store .medal .back {
  width: inherit;
  height: inherit;
  position: absolute;
  transition: 1s;
  backface-visibility: hidden;
}
.reserve-store .medal .front {
  transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}
.reserve-store .medal .back {
  transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
  background-color: #FEE6DA;
  border: 3px solid #E6cdba;
  width: 500px;
  height: 300px;
}
.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin-top: 50px;
} */
.MainPopularBox{
  background-color: #E6cdba;
  height: 700px;
}

/* 인기상품 컴포넌트 */
.MainPopularBox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
}
.MainPopularBox h2{
  margin-top: 0px;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
}
.MainPopularBoxPics{
  padding-top: 7px;
  display: flex;
  justify-content: space-around;
}
.MainPopularBoxPics img{
  width: 300px;
  height: 250px;
  border: 3px solid sandybrown;
}

.MainPopularBoxLink span{
  font-weight: 800;
  font-size: 37px;
}

/* 홈페이지 카드부분 */
.MainSecondCards{
  height: 1200px;
  display: flex;
}
.MainSecondCardsFirst{
  border-right: 2px solid green;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.MainSecondCardsFirst:first-child{
  font-size: 37px;
  font-weight: 700;
  text-align: center;
}
.MainSecondCardsSecond{
  border-left :2px solid green;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.MainSecondCards img{
  height: 370px;
}
.MainSecondCardsSecondFirstImg{
  margin-bottom: 100px;
}
.MainSecondCardsSecondSecondImg{
  margin-bottom: 200px;
}


/* 메인 화면 전환 페이지 */
/* 메인 화면 전환 페이지 */
.swiperBackground{
  height: 700px;
  background-color: #f9f3f380;
}
.swiper {
 
  margin-bottom: 0px;
}


.swiper-slide {
  
  /* border-left: 1px solid gray;
  border-right: 1px solid gray; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  padding-top: 7px;
  display: block;
  width: 100%;
  padding-top: 0px;
  object-fit: 100%;
  height: 700px;
}

/* 이달의 꽃 */
.mainpopularTs{
  background-color: #f2ecec;
  height: 700px;
}
.mainpopularT{
  text-align: center;
}

.mainpopularT h2{
  padding-top: 70px;
  font-size: 50px;
  
  
}
.mainpopularT p{
  font-size: 30px;
  margin-bottom: 120px;
  letter-spacing: 0.3cm;
  margin-left: 15px;
  padding-top: 5px;
  font-family: "Taviraj";
}
.mainpopulari{
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.mainpopulari img{
  border: 2px solid #d7c2c250;
}
.mainpopulariTTT{
  display: flex;
  justify-content: space-around;
}
.mainpopulariTTT p{
  font-size: 20px;
  font-weight: 400;
  margin-top: 3px;
}

/* 홈페이지 change */
.HomepageChanges{
  background-color: #F5F5F5;
}
.HomepageChanges h2{
  text-align: center;
  font-size: 57px;
  font-weight: 400;
  margin-bottom: 50px;
  padding-top: 60px;
  font-family:"Taviraj";
}

.mainChange{
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
.HomepageChangeBoxFirst{
  display: flex;
  justify-content: space-around;
  background-color: #F2ECEC;
  height: 250px;
}
.HomepageChangeBoxFirst h3{
  text-align: center;
  padding-top: 120px;
  font-size: 27px;
  margin-right:  40px;
  padding-left: 20px;
 
} 

.HomepageChangeBoxSecond{
  display: flex;
  justify-content: space-around;
  height: 250px;
  background-color: #d7c9c9;
  margin-bottom: 100px;
}
.HomepageChangeBoxSecond h3{
  text-align: center;
  padding-top: 120px;
  font-size: 27px;
  margin-right:  40px;

}
.HomepageChangeBtnF{
  width: 120px;
  height: 70px;
  font-size: 27px;
  cursor: pointer;
  background-color: #d7c9c9;
  color: white;
  border: none;
  font-weight: 800;

  /* transition: 0.5s ease-out; */
  
  border-top-left-radius: 20px;
  /* border-bottom-left-radius: 20px; */
}
/* .HomepageChangeBtnF:hover{
  font-size: 37px;
  transition: 0.5s ease-out;
} */
.HomepageChangeBtnF:focus{
  font-size: 30px;
}
.HomepageChangeBtnS{
  width: 120px;
  height: 70px;
  font-size: 27px;
  cursor: pointer;
  background-color: #f2ecec;
  color: #9f9696;
  border: none;
  /* transition: 0.5s ease-out; */
  /* border-top-right-radius: 20px; */
  border-top-right-radius: 20px;
  font-weight: 800;
}
/* .HomepageChangeBtnS:hover{
  font-size: 37px;
  transition: 0.5s ease-out;
} */
.HomepageChangeBtnS:focus{
  font-size: 30px;
}
.mainBox{
  display: flex;
  justify-content: center;
}
.mainBoxss{
  width: 60%;
}

/* footer */

footer {
  background-color: #272727;
  border-top: 1px solid #333;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 300px;
}
footer a{
  text-decoration: none;
}
footer .inner{
  height: 100px;
}
footer .menu {
  display: flex;
  justify-content: center;
}
footer .menu li {
  position: relative;
  list-style: none;
}
footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .menu li:last-child::before {
  display: none;
}
footer .menu li a {
  display: block;
  color: #CCC;
  font-size: 10px;
  font-weight: 700;
  padding: 15px;
}

footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {
  margin-right: 0;
}
footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo {
  margin: 30px auto 0;
}
.footerA{
  margin-right: 9px;
  color: white;
  text-decoration: none;
}
.footerA:hover{
  text-decoration: none;
  color: white;
}



.BBBBBB{
  margin-top: 100px;
}
.CheckoutBtn{
  border: none;
  background-color: #f2ecec;
  color: gray;
  height: 37px;
  font-weight: 700;
}